@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: white;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}